<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/appicon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/appicon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSite"
        tools:targetApi="31">
        <activity
            android:name=".Activites.ProjectFeatures.ContractorSelectionActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.Library.AddNewContractorActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.Library.ContractorLibraryActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ProjectFeatures.AttendanceTab.AddWorkersToProjectActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ProjectFeatures.MaterialTab.NewMaterialReceivedActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ProjectFeatures.MaterialTab.NewMaterialRequestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.MainScreen.NewQuotationActivity"
            android:exported="false" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewIReceivedTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewIPaidTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewOtherExpenseTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewMaterialPurchaseTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewSalesInvoiceTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewPaymentOutTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.TransactionTab.NewPaymentInTransactionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.ProjectSettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.ProjectFeatures.ProjectInternalMainActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.Library.AddNewPartyActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.BankTransfer.BankTransferActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.Library.WorkforceLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.Library.PartyLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.Library.MaterialLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.MainScreen.MaterialActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.Library.MainLibraryActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.MainScreen.SettingsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.UserRegistrationAndLogin.PasswordActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.UserRegistrationAndLogin.UserRegistration"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Activites.MainScreen.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>